body {
    background-color: rgb(31, 26, 26) ;
}

div.menu {
    border: 1px solid white;
    background-color: rgb(31, 26, 26) ;
    /*ajusto el tamanio del cuadrado8*/
    padding: 0%;
    /*centralizo el cuadrado*/
    margin: 10px;
    /*le saco la numeracion o puntos a la lista*/
    list-style: none;
    text-align: center;
}

.menu ul {
    margin: auto;
}

.menu li {
    color: white;
    font-size: 30px;
    padding-right: 100px;
    display: inline;
}

.menu a{
    /*para que no me aparesca la linea abajo del enlace*/
    text-decoration: none;
}

div.box{
    margin: auto;
    width: 1000px;
    /*use height para que el size de la imagen no sobresaliera del marco del div contenedor*/
    height: 250px;
    border: 3px solid white;
    margin-block-end: 10px;
    /*espacio entre cada seccion de margen blanco*/
    border-radius: 20px;
    color: white;
}

.box img{
    float: left;
    width: 400px;
    border: 3px solid rgb(255, 95, 2);
    border-radius: 20px;
    /*espacio de la imagen con el contenedor principal y el del div siguiente*/
    margin: 10px;
}

.box div p{
    text-align: center;
    color: white;
    font-size: 18px;
}

.box div h1{
    text-align: center;
    color: white;
    /*subrayo el texto*/
    /*text-decoration: underline;*/
}
.box div h1 p {
    float: right;
}
.box a{
    text-decoration: none;
}

 /* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 95, 2);
  }
  /* on link */
  a:hover{
    -webkit-text-stroke: 1px white;
 }
a:hover h1{
   color: darkgray;
}   
a:hover p{
    color: darkgray;
 }
 
div.foot{
    border: 3px solid white;
    background-color:  rgb(255, 95, 2);
    border-radius: 10px;
    height: 400px;
    width: 200px;
    padding: 10px;
    margin-left: 40px;
 }
 .foot label{
    /*use bold para que resaltara el blanco!*/
    font-weight: bold;
    font-size: 20px;
    color: white;
 }
 .foot input{
    border-radius: 3px;
    background-color: rgb(31, 26, 26);
    color: white;
 }
.banner{
    border: 5px solid white;
    width: 960px;
    height: 480px;
    display: block;
    margin: auto;
    border-radius: 5px;
}

.banner h1{
    color: white;
}
button{
    margin-top: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
}

.x{ 
    display: flex;
    justify-content: center
}



 